$bege-light: #d4cfb6;
$bege-normal: #c4bfa7;
$bege-dark: #b9b49d;

$blue-light: #353d50;
$blue-normal: #222b3e;
$blue-dark: #192235;

$yellow-light: #fdb955;
$yellow-normal: #f7b24c;
$yellow-dark: #e8a440;
