// Media Queries - maybe do more... this to 960 maybe applicable for smaller screens????

@media screen and (max-width: 960px) {
  // ***************** Typography***************************

  h1 {
    font-size: 5.063;
  }
  h2 {
    font-size: 3.357rem;
  }

  // ***************** Header Section ***************************
  // Menu-Nav
  .menu-left,
  .menu-right {
    display: none;
  }

  // Container-hero
  .hero {
    height: auto;
  }
  .container-hero {
    flex-direction: column;
  }
  .container-item:nth-child(1) {
    margin-bottom: 100px;
  }
  .container-item:nth-child(2) {
    margin-top: 100px;
  }

  .svg-hero {
  }
}
