// Font-family
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montez", cursive;
  font-weight: 400;
}
p {
  margin-bottom: 1rem;
}
p,
.link {
  font-family: "New Tegomin", serif;
}
a {
  text-decoration: none;
}

.link {
  padding: 8px 24px;
  font-size: 1.5rem;
  color: $bege-normal;

  transition: 0.5s ease;

  position: relative;

  &::after {
    content: "";
    display: block;

    position: absolute;
    top: 100%;
    left: 0;

    width: 0%;
    height: 2px;

    transform: translate(32%, -50%);
    background-color: $peach-normal;

    transition: 0.5s ease;
  }

  &:hover {
    opacity: 0.7;

    &::after {
      width: 60%;
    }
  }
}

// Font size
h1 {
  font-size: 5.653rem;
  color: $bege-normal;
}
h2 {
  font-size: 3.998rem;
  line-height: 120%;
  color: $yellow-normal;
}
h3 {
  font-size: 2.827rem;
  line-height: 110%;
}

h4 {
  font-size: 1.999rem;
  color: $yellow-normal;
  line-height: 120%;
}
h5 {
  font-size: 1.414rem;
  line-height: 140%;
}
h6 {
  font-size: 1rem;
  line-height: 150%;
}
// small, .text_small {font-size: 0.707rem;}
// icons
.fab {
  font-size: 2rem;
  color: $bege-normal;
}

.container-item h2 u {
  text-decoration: underline wavy $peach-normal;
  transition: 0.5s ease;
  &:hover {
    font-size: 4.2rem;
    color: $peach-dark;
    text-decoration: underline wavy $yellow-dark;
    opacity: 0.8;
  }
}

// Call to action

.call a {
  padding: 16px 24px;
  // margin-bottom: 1.5rem;

  transition: 0.5s ease;
  position: relative;

  &::after {
    content: "";
    display: block;

    position: absolute;
    top: 100%;
    left: 0;

    width: 0%;
    height: 2px;

    transform: translate(32%, -0%);
    background-color: $peach-normal;

    transition: 0.5s ease;
  }

  &:hover {
    opacity: 0.7;
    &::after {
      width: 60%;
    }
  }
}
