/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************** My code ****************/

.welcome {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #192235;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin-top: 0; */
}

.name,
.personal-title {
  position: absolute;

  white-space: nowrap;
  font-family: "Montez", cursive;
  color: #c4bfa7;
  left: 0;
  top: 0;
}
.name h1 {
  position: absolute;
  left: 20.63vw;
  top: 21.85vh;
  font-size: 144px;
  line-height: 188px;
  color: #c4bfa7;
}
.personal-title {
  font-family: Montez;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 94px;
  color: #f7b24c;
}
#developer {
  position: absolute;
  left: 53.54vw;
  top: 57.5vh;
}
#aeronautical {
  position: absolute;
  left: 42.26vw;
  top: 69.16vh;
}
#best-friend {
  position: absolute;
  left: 53.54vw;
  top: 80.83vh;
}
u {
  text-decoration: underline wavy #f7997d;
}
